.App {
  text-align: center;
}

.navbar{
  max-width: 300px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  font-weight: bold;
}



.title{
  margin: 20px auto;
  color: blue;
}

.box{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
  grid-template-rows: auto;
  
}

.box li{
  list-style: none;
  margin: auto;
  align-items: center;
  justify-content: space-around;
}

.shoe-name{
  text-transform: capitalize;
  font-size: 28px;

}

.box li h2{
  text-decoration: none;
}

.box li img{
  width: 200px;
  height: 200px;
  border: 1px solid rgb(106, 92, 145,0.5);
}